In [1]:
import numpy as np

## Data Import

In [2]:
import pandas as pd
df = pd.read_excel ('Cardata.xlsx')
car = df.copy()

## Data Exploration

In [3]:
car.head()

,Price,Brand,Series,Model,Year_,Fuel_Type,Gear_Type,Engine_Capacity,Engine_Power,Kilometer,Unnamed: 10
0,92000,Honda,Civic,1.6 LS,2005,LPG & Benzin,Manuel,1590 cc,110 HP,270000,NaN
1,95000,Honda,Civic,1.6 LS,2005,LPG & Benzin,Manuel,1590 cc,110 HP,183000,NaN
2,190000,Honda,Civic,1.6 Elegance,2011,LPG & Benzin,Otomatik,1595 cc,125 HP,152000,NaN
3,77500,Honda,Civic,1.6 LS,2002,LPG & Benzin,Otomatik,1590 cc,110 HP,229000,NaN
4,107500,Honda,Civic,1.6 LS,2006,LPG & Benzin,Manuel,1590 cc,110 HP,221000,NaN

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89004 entries, 0 to 89003
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Price            89004 non-null  int64
 1   Brand            89004 non-null  object
 2   Series           89004 non-null  object
 3   Model            89004 non-null  object
 4   Year_            89004 non-null  int64
 5   Fuel_Type        89004 non-null  object
 6   Gear_Type        89004 non-null  object
 7   Engine_Capacity  89004 non-null  object
 8   Engine_Power     89004 non-null  object
 9   Kilometer        89004 non-null  int64
 10  Unnamed: 10      1 non-null      float64
dtypes: float64(1), int64(3), object(7)
memory usage: 7.5+ MB

## Data Preprocessing

In [5]:
car.drop(['Unnamed: 10'], axis=1, inplace=True)
car

,Price,Brand,Series,Model,Year_,Fuel_Type,Gear_Type,Engine_Capacity,Engine_Power,Kilometer
0,92000,Honda,Civic,1.6 LS,2005,LPG & Benzin,Manuel,1590 cc,110 HP,270000
1,95000,Honda,Civic,1.6 LS,2005,LPG & Benzin,Manuel,1590 cc,110 HP,183000
2,190000,Honda,Civic,1.6 Elegance,2011,LPG & Benzin,Otomatik,1595 cc,125 HP,152000
3,77500,Honda,Civic,1.6 LS,2002,LPG & Benzin,Otomatik,1590 cc,110 HP,229000
4,107500,Honda,Civic,1.6 LS,2006,LPG & Benzin,Manuel,1590 cc,110 HP,221000
...,...,...,...,...,...,...,...,...,...,...
88999,205000,Skoda,Octavia,1.6 TDI Optimal,2017,Dizel,Yari Otomatik,1598 cc,115 HP,105000
89000,208000,Skoda,Octavia,1.6 TDI Optimal,2017,Dizel,Yari Otomatik,1598 cc,115 HP,114000
89001,220000,Skoda,Octavia,1.6 TDI Optimal,2017,Dizel,Yari Otomatik,1598 cc,115 HP,108000
89002,198000,Skoda,Octavia,1.6 TDI Optimal,2015,Dizel,Yari Otomatik,1598 cc,110 HP,123000
89003,204500,Skoda,Octavia,1.6 TDI Optimal,2016,Dizel,Yari Otomatik,1598 cc,110 HP,105000

In [6]:
car.sort_values(by = 'Price', ascending = False)

,Price,Brand,Series,Model,Year_,Fuel_Type,Gear_Type,Engine_Capacity,Engine_Power,Kilometer
28036,150115000,Opel,Vectra,1.9 CDTI Comfort,2006,Dizel,Otomatik,1910 cc,150 HP,240000
13097,117500000,Honda,Civic,1.8 Sport,2008,Benzin,Yari Otomatik,1799 cc,140 HP,202500
1604,115000143,Honda,Jazz,1.4 ES Elite,2008,LPG & Benzin,Manuel,1339 cc,83 HP,143500
84560,4650000,Mercedes - Benz,S,S 500 500 L,2021,Benzin,Otomatik,2501 - 3000 cc,301 - 325 HP,0
84671,4300000,Mercedes - Benz,S,S 400 400 L,2020,Dizel,Otomatik,2501 - 3000 cc,326 - 350 HP,13
...,...,...,...,...,...,...,...,...,...,...
80243,12500,Renault,R 9,1.4 Broadway,1985,LPG & Benzin,Manuel,1397 cc,67 HP,287000
35040,10750,Renault,Megane,1.6 CC Dynamique,2008,LPG & Benzin,Manuel,1598 cc,110 HP,258000
54534,10500,Mitsubishi,Lancer,1.5 GLX,1986,LPG & Benzin,Manuel,1401 - 1600 cc,51 - 75 HP,200000
82820,9000,Ford,Taunus,1.6 GT,1988,Benzin,Manuel,1592 cc,101 HP,16000
82830,8500,Ford,Taunus,1.6 GT,1992,LPG & Benzin,Manuel,1592 cc,101 HP,350000

In [7]:
car = car.drop(1604)
car = car.drop(13097)
car = car.drop(28036)

def find_boundaries(df, variables):
    Q1 = df[variables].quantile(.25)
    Q3 = df[variables].quantile(.75)
    IQR = Q3 - Q1
    lower_boundy = Q1 - 1.5*IQR
    upper_boundy = Q3 + 1.5*IQR
    
    return lower_boundy, upper_boundy

lower_price, upper_price = find_boundaries(car,'Price')

print("Üst Limit Fiyat : ",upper_price)
print("Alt Limit Fiyat : ",lower_price)

outliers_price = np.where(car['Price'] > upper_price,True ,
                         np.where(car['Price'] < lower_price, True, False))

outliers_price

car.shape

engineered_car = car.loc[~(outliers_price),]

engineered_car.shape

engineered_car.head()

car = engineered_car.astype({"Model": str, "Series": str})

In [11]:
car = car.astype({"Model": str, "Series": str})

In [12]:
car.head()

,Price,Brand,Series,Model,Year_,Fuel_Type,Gear_Type,Engine_Capacity,Engine_Power,Kilometer
0,92000,Honda,Civic,1.6 LS,2005,LPG & Benzin,Manuel,1590 cc,110 HP,270000
1,95000,Honda,Civic,1.6 LS,2005,LPG & Benzin,Manuel,1590 cc,110 HP,183000
2,190000,Honda,Civic,1.6 Elegance,2011,LPG & Benzin,Otomatik,1595 cc,125 HP,152000
3,77500,Honda,Civic,1.6 LS,2002,LPG & Benzin,Otomatik,1590 cc,110 HP,229000
4,107500,Honda,Civic,1.6 LS,2006,LPG & Benzin,Manuel,1590 cc,110 HP,221000

In [13]:
X = car.iloc[:,[1,2,3,4,5,6,7,8,9]].values # X burada bağımsız değişkenimiz.
Y = car.iloc[:,[0]].values # Y Hedef değişkenimiz.

### Label Encoding

In [14]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
X[:,0] = le1.fit_transform(X[:,0]) # Brand kolonunu fit ettik.
le2 = LabelEncoder()
X[:,1] = le2.fit_transform(X[:,1]) # Series kolonunu fit ettik.
le3 = LabelEncoder()
X[:,2] = le2.fit_transform(X[:,2]) # Model kolonunu fit ettik.
le4 = LabelEncoder()
X[:,4] = le2.fit_transform(X[:,4]) #Fuel_Type kolonunu fit ettik.
le5 = LabelEncoder()
X[:,6] = le1.fit_transform(X[:,6]) # Engine_Capacity kolonunu fit ettik.
le6 = LabelEncoder()
X[:,7] = le1.fit_transform(X[:,7]) # Engine_Power kolonunu fit ettik.

In [15]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers = [('encoder',OneHotEncoder(),[5])], remainder = 'passthrough')
# Gear_Type kolonunu OneHotEncoder ile kodladık. Remainder OneHotEncoder haliyle bıraktı.
X = ct.fit_transform(X)

## Feature Scaling

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [17]:
print(X)

[[ 0.79097941 -0.45307102 -0.52263995 ...  0.35068943 -0.97993194
   1.23093045]
 [ 0.79097941 -0.45307102 -0.52263995 ...  0.35068943 -0.97993194
   0.27279774]
 [-1.26425541  2.20715948 -0.52263995 ...  0.44756868 -0.8174982
  -0.06860587]
 ...
 [-1.26425541 -0.45307102  1.9133631  ...  0.52022812 -0.91745742
  -0.55317874]
 [-1.26425541 -0.45307102  1.9133631  ...  0.52022812 -0.97993194
  -0.38798344]
 [-1.26425541 -0.45307102  1.9133631  ...  0.52022812 -0.97993194
  -0.5862178 ]]

## Splitting Dataset into Training and Test Set

In [18]:
from sklearn.model_selection import train_test_split
(X_train, X_test, Y_train, Y_test) = train_test_split(X,Y,test_size=0.2,random_state=0)

## Training Model

In [19]:
from sklearn.ensemble import RandomForestRegressor
regression = RandomForestRegressor(random_state=0)
regression.fit(X_train, Y_train)

<ipython-input-19-64060e98bbd3>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regression.fit(X_train, Y_train)

RandomForestRegressor(random_state=0)

In [20]:
y_pred = regression.predict(X_test)

In [21]:
print(y_pred)

[  77018.      91982.49    53354.    ...  167750.     131804.125
 1014887.5  ]

In [22]:
print(Y_test)

[[  69000]
 [  95000]
 [  59000]
 ...
 [ 161000]
 [ 136900]
 [1048000]]

## Testing Result

In [23]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))

[[  77018.      69000.   ]
 [  91982.49    95000.   ]
 [  53354.      59000.   ]
 ...
 [ 167750.     161000.   ]
 [ 131804.125  136900.   ]
 [1014887.5   1048000.   ]]

## Calculating Accuracy

In [24]:
from sklearn.metrics import r2_score
r2 = r2_score(Y_test,y_pred)

In [25]:
print(r2)

0.9536270723086786